<div>
  <%= image_tag @post_image.get_image %>
  <p>投稿日: <%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
  <%= form_with model: @post_image,url: post_image_path, method: :patch do |f| %>
   <h4>ショップ名</h4> 
     <%= f.text_field :shop_name %>
   <h4>説明</h4> 
     <%= f.text_area :caption %>
   <%= f.submit "保存" %>
  <% end %>
</div>